<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>KeepAlive</key>
	<true/>
    <key>Label</key>
    <string>am.noh.music-exp</string>
    <key>ProgramArguments</key>
    <array>
        <string>PYTHON_PATH</string>
        <string>export.py</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardOutPath</key>
    <string>logfile.log</string>
    <key>StandardErrorPath</key>
    <string>error_logfile.log</string>
    <key>WorkingDirectory</key>
	<string>WORKING_DIRECTORY</string>
</dict>
</plist>
